
.item, 
.itemCardio,
.itemWarmUp, 
.itemCompleted{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    border-radius: 2em;
    padding: 2em;
    text-align: left;
    margin: auto;
    margin-bottom: 1em;
    font-weight: 500;
    background-color: #fff;
}
.item{
    color: #8A00D4;
}
.itemCompleted{
    background-color: #111;
    color: #eee;
}
.itemWarmUp{
    background-color: #F782C2;
    color: #333;
    
}
.itemCardio{
    background-color: #F9C46B;
    color: #333;
}
/* Buttons */
.done, .notDone{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.done{
    background-color: transparent;
}
.notDone{
    background-color: transparent;
    font-weight: bold;
    color: #555;
    border: 1px solid #555;
}
.buttons{
    padding-bottom: 1em;
}
.workout{
    font-weight: bold;
}
.reps, .weight{
    color: #333;
    display: flex;
}
@media screen and (max-width: 750px) { 
    .item, .itemWarmUp, .itemCompleted{
        width: 75vw;
        display: grid;
        grid-template-columns: unset;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template: 'areas';
        grid-template: 'a a a a'
                            'b b b b'
                            'c c d d'
                            'e e e e';
    }
    .superSet{
        grid-area: a;
    }
    .workout{
        grid-area: b;
    }
    .reps{
        grid-area: c;
    }
    .weight{
        grid-area: d;
    }
    .done, .notDone{
        grid-area: e;
    }
}
