.item, .itemCompleted{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 800px;
    width: 95%;
    border-radius: 2em;
    padding: 2em;
    text-align: left;
    margin: auto;
    margin-bottom: 1em;
    background-color: #fff;
    color: #8A00D4;
    font-weight: 500;
}
.itemCompleted{
    background-color: #111;
    color: #eee;
}
/* Buttons */
.done{
    background-color: transparent;
}
.notDone{
    background-color: transparent;
    font-weight: bold;
    color: #8A00D4;
    border: 1px soldi #8A00D4;
}
.buttons{
    padding-bottom: 1em;
}